body
{
    color: rgb(253, 252, 250);
    font-size: 16px;
    background-color: rgb(199, 140, 51);
    text-align: center;
    font-family: "Helvetica";
    padding: 0%;
    margin: 0%;

}
#container

{
    font-family: Arial;
    width: 70%;
    padding: 1em;
    text-align: left;
    border:1px solid #3653;
    margin: auto;
}


#container h1
{
    font-size: 20px;
}